body {
    margin: 15px;
    background-color:rgb(255, 248, 248);
    background-image: url("../assets/background.png");
    display: grid;
    place-items: center;
  
}

@media only screen and (min-width: 500px) {
    body {
        background-image: url("../assets/background_mw500px.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FB4646;
    }
}

@media only screen and (min-width: 660px) {
    body {
        background-image: url("../assets/background_mw660px.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FB4646;
    }
    
}

@media only screen and (min-width: 900px) {
    body {
        background-image: url("../assets/background_mw900px.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FB4646;
    }
}


.App {
  background-color:none;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}