body {
    margin: 15px;
    background-color:rgb(255, 248, 248);
    background-image: url("../assets/background.png");
    display: grid;
    place-items: center;
  
}

.App {
  background-color: none;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}